/* TABLE OF CONTENTS */

/* 1. Theme */

/* 2. Scrollbar */

/* 3. Rules */

/* 4. Globals */

/* 5. Navigation */

/* 6. Footer */

/* 7. Profile Page */

/* 8. Work Page */

/* 9. Contact Page */

/* 10. 404 Page */

/* THEME */

:root {
    --scale: 1;
    --body: #fff;
    --fore: #dcdcff;
    --fore-80: #dcdcff80;
    --fore-40: #dcdcff40;
    --fore-32: #dcdcff32;
    --fore-16: #dcdcff16;
    --backA: #24242d;
    --backB: #202028;
    --backC: #18181e;
    --backD: #121216;
    --backD-80: #12121680;
    --backD-DC: #121216dc;
    --primary: #00ff80;
    --primary-80: #00ff8080;
    --info: #0080ff;
    --success: #00c864;
    --warning: #ffa064;
    --error: #ff5064;
}

/* .moody {
    --body: #121216;
    --fore: #121216;
    --fore-80: #12121680;
    --fore-40: #12121640;
    --fore-16: #12121616;
    --backA: #dcdcff;
    --backB: #ccccec;
    --backC: #bcbcd8;
    --backD: #a0a0c6;
    --backD-80: #a0a0c680;
    --backD-DC: #a0a0c6dc;
} */

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 12px;
    background-color: #00000000;
}

::-webkit-scrollbar-track {
    background-color: #dcdcff16;
}

::-webkit-scrollbar-thumb {
    background-color: #dcdcff80;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #dcdcff;
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--primary);
}

/* RULES */

html {
    scroll-behavior: smooth;
}

:focus {
    outline-color: var(--primary);
}

.anim, div, img, a, h1, h2, h3, h4, h5, h6, p {
    transition: 0.15s ease-out;
}

.shade, img, h1, h2, h3, h4, h5, h6, p {
    filter: drop-shadow(2px 2px 4px var(--backD-80));
}

a {
    color: var(--body);
}

input {}

input::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--fore-80);
}

textarea {}

textarea::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--fore-80);
}

/* GLOBALS */

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 1em;
    padding: 0;
    border: 0;
    margin: 0;
    color: var(--body);
    background-color: var(--backA);
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#root {
    position: relative;
    min-height: 100vh;
}

#notify {
    visibility: hidden;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    max-width: 100%;
    padding: calc(21px * var(--scale));
    color: var(--body);
    opacity: 0;
    text-align: center;
    font-size: calc(21px * var(--scale));
    font-weight: 500;
    line-height: normal;
    box-shadow: 0px 0px 14px var(--backD);
}

#notify p {
    filter: drop-shadow(0px 0px 2px var(--backD-80));
}

#notify.show {
    visibility: visible;
    top: 96px;
    opacity: 1;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 4.6s;
    animation: fadein 0.5s, fadeout 0.5s 4.6s;
}

@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 96px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 96px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 96px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 96px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}

#notify.info {
    background-color: var(--info);
}

#notify.success {
    background-color: var(--success);
}

#notify.warning {
    background-color: var(--warning);
}

#notify.error {
    background-color: var(--error);
}

#navPad {
    width: 100%;
    height: 72px;
}

#footPad {
    width: 100%;
    height: 472px;
}

.title {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    width: 100%;
    margin-top: calc(72px * var(--scale));
    margin-bottom: calc(24px * var(--scale));
}

#profile, #work, #contact, #changelog, #notFound {
    position: relative;
    width: 100%;
}

/* NAVIGATION */

nav {
    z-index: 11;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#navShow {
    position: relative;
    top: 0;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.25s ease-out;
}

#navHide {
    position: relative;
    top: -72px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s ease-out;
}

#navShape {
    width: 1024px;
    height: 0;
    border-bottom: 72px solid var(--backC);
    border-left: 41px solid transparent;
    border-right: 41px solid transparent;
    transform: rotate(180deg);
    margin-left: auto;
    margin-right: auto;
}

#navL {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 64px;
}

#navR {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 22px;
}

#navLogo {
    float: left;
    height: 48px;
    margin-top: 12px;
    margin-left: 12px;
}

#navLogo:hover, #navLogo:focus {
    filter: grayscale();
}

#navName {
    float: left;
    width: 13.333em;
    margin-top: 20px;
    margin-left: 20px;
}

.navBtn, .navBtnActive {
    float: left;
    text-align: center;
    width: 200px;
    height: 48px;
    transform: skew(-30deg);
    padding-top: 14px;
    margin-top: 12px;
    margin-right: 12px;
    /* background: var(--fore-16); */
    color: var(--fore-80);
    cursor: pointer;
}

.navBtn:hover, .navBtn:focus {
    background: var(--fore);
    color: var(--backA);
}

.navBtn:active, .navBtnActive {
    background: var(--primary);
    color: var(--backA);
}

.navBtn h1, .navBtnActive h1 {
    font-size: 21px;
    font-weight: 600;
    line-height: 1em;
    transform: skew(30deg);
    filter: drop-shadow(0px 0px 0px #12121600);
}

#navIcons {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 12px 48px;
    margin-left: auto;
    margin-right: auto;
}

.navIcon {
    vertical-align: top;
    width: 33.333%;
    height: 48px;
    opacity: 0.4;
    cursor: pointer;
}

.navIcon:hover, .navIcon:focus, .navIconActive {
    opacity: 1;
}

/* FOOTER */

footer {
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer a:hover, footer a:focus {
    color: var(--primary);
}

footer h1 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 36px;
}

footer h2, footer h3 {
    font-size: 21px;
    font-weight: 300;
    line-height: 2em;
}

#footerTop {
    text-align: center;
    width: 100%;
    background: var(--backC);
}

#footerBottom {
    text-align: center;
    width: 100%;
    padding: 12px 0;
    background: var(--backD);
}

#footerBottom a {
    font-weight: 300;
    color: var(--fore-80);
}

#footerBottom a:hover, #footerBottom a:focus {
    color: var(--primary);
}

.footer3rd {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    padding: 36px 0;
}

#footerLogo {
    height: 256px;
    padding: 18px 0;
}

#footerLogo:hover, #footerLogo:focus {
    filter: grayscale();
}

#footerAuxIcons {
    display: none;
}

#footerAuxIcons a {
    display: inline-block;
    width: 54px;
    padding: 6px;
}

.footerAuxIcon:hover, .footerAuxIcon:focus {
    opacity: 0.5;
}

/* PROFILE */

/* PROFILE NAME */

#profileName {
    width: max-content;
    margin-top: calc(72px * var(--scale));
    margin-bottom: calc(24px * var(--scale));
    margin-left: auto;
    margin-right: auto;
}

#profileNameLogo {
    width: 480px;
}

/* PROFILE REEL */

#profileReel {
    display: inline-flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: var(--backB);
    clip-path: inset(0px 0px 0px 0px);
}

#profileReelFix {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#profileReelMovie {
    width: 960px;
}

/* PROFILE PORTFOLIO */

#profilePort {
    position: relative;
    width: 100%;
    line-height: calc(2.5em * var(--scale));
}

#profilePortDrop {
    max-width: calc(1440px * var(--scale));
    width: fit-content;
    height: fit-content;
    padding: calc(12px * var(--scale));
    margin-left: auto;
    margin-right: auto;
    background: var(--backB);
}

.profilePortBox {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: calc(330px * var(--scale));
    height: calc(330px * var(--scale));
    margin: calc(12px * var(--scale));
    background: var(--fore-16);
}

.profilePortBox img {
    max-height: calc(100px * var(--scale));
    margin-top: calc(40px * var(--scale));
    margin-bottom: calc(32px * var(--scale));
}

.profilePortBox h1 {
    font-size: calc(35px * var(--scale));
    font-weight: 600;
    margin-bottom: calc(24px * var(--scale));
}

.profilePortBox p {
    font-size: calc(21px * var(--scale));
    font-weight: 300;
    padding: 0 calc(28px * var(--scale));
}

.profilePortBox:hover, .profilePortBox:focus {
    cursor: pointer;
    transform: scale(1.075);
    background: var(--fore-40);
}

.profilePortBox:active {
    background: var(--primary-80);
}

/* PROFILE CAPABILITIES */

/* PROFILE ABOUT */

#profileAbout {
    position: relative;
    width: 100%;
    line-height: calc(2.5em * var(--scale));
}

#profileAboutDrop {
    max-width: 1100px;
    width: fit-content;
    height: fit-content;
    padding: 24px;
    border-radius: 144px 0 0 0;
    margin-left: auto;
    margin-right: auto;
    background: var(--backB);
}

#profileAbout img {
    float: left;
    max-height: calc(240px * var(--scale) * var(--scale));
    margin-bottom: calc(8px * var(--scale));
    margin-right: calc(48px * var(--scale));
    shape-outside: circle();
}

#profileAbout h1 {
    font-size: calc(28px * var(--scale));
    font-weight: 500;
}

#profileAbout p {
    font-size: calc(18px * var(--scale));
    margin-top: calc(28px * var(--scale));
}

/* WORK */

/* WORK REEL */

#workReel {
    display: inline-flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: var(--backB);
    clip-path: inset(0px 0px 0px 0px);
}

#workReelFix {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#workReelMovie {
    width: 960px;
}

/* WORK PORTFOLIO */

#workPort {
    position: relative;
    width: 100%;
    height: 100%;
    line-height: calc(2.5em * var(--scale));
}

#workPortDrop {
    width: fit-content;
    max-width: 1440px;
    height: fit-content;
    padding: calc(12px * var(--scale));
    margin-left: auto;
    margin-right: auto;
    background: var(--backB);
}

.workPortBox {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: calc(330px * var(--scale));
    height: calc(330px * var(--scale));
    margin: calc(12px * var(--scale));
    background-repeat: no-repeat;
    background-size: cover;
}

.workPortOverlay {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--backD-DC);
    opacity: 0;
}

.workPortOverlay:hover, .workPortOverlay:focus {
    opacity: 1;
}

.workPortOverlay h1 {
    z-index: 2;
    font-size: calc(35px * var(--scale));
    font-weight: 600;
    line-height: 40px;
    margin: calc(32px * var(--scale)) 0;
    opacity: 1;
}

.workPortOverlay p {
    z-index: 2;
    font-size: calc(21px * var(--scale));
    font-weight: 300;
    padding: 0 calc(28px * var(--scale));
    opacity: 1;
}

.workPortBox:hover, .workPortBox:focus {
    cursor: pointer;
    transform: scale(1.075);
}

.workPortOverlay:active {
    background-color: var(--primary-80);
}

/* CONTACT */

/* CONTACT FORM */

#contactForm {
    position: relative;
    width: 100%;
    /* line-height: calc(2.5em * var(--scale)); */
}

#contactFormDrop {
    position: relative;
    max-width: 1200px;
    height: fit-content;
    padding: 24px;
    margin-left: auto;
    margin-right: auto;
    /* background: var(--backB); */
}

#contactDivWrap {
    display: flex;
}

.contactDiv {
    z-index: 1;
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 100%;
}

.contactDivInput {
    z-index: 2;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-appearance: none;
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    width: calc(100% - 32px);
    height: calc(100% - 21px);
    padding: 0 12px;
    border: none;
    border-radius: 0;
    margin: 16px;
    background: var(--fore-32);
    color: var(--fore);
    opacity: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    transition: opacity 0.2s, transform 0.2s;
}

.contactDivInput:focus, .contactDivInput:valid {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.contactDivInput:focus+.contactDivLabel, .contactDivInput:valid+.contactDivLabel {
    cursor: default;
    pointer-events: none;
}

.contactDivInput:focus+.contactDivLabel::before, .contactDivInput:valid+.contactDivLabel::before {
    -webkit-transform: scale3d(1, 1.5, 1);
    transform: scale3d(1, 1.5, 1);
}

.contactDivInput:focus+.contactDivLabel .contactDivTitle, .contactDivInput:valid+.contactDivLabel .contactDivTitle {
    -webkit-transform: translate3d(0, -2.75em, 0);
    transform: translate3d(0, -2.75em, 0) translateZ(1px);
}

.contactDivLabel {
    float: right;
    width: 100%;
    padding: 0 16px;
    color: var(--fore-80);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: text;
}

.contactDivLabel::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--backC);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
}

.contactDivTitle {
    display: block;
    position: relative;
    width: 100%;
    padding: 1.6em 0;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
}

#contactMessage {
    position: relative;
    width: 100%;
    padding: 16px;
    background: var(--backB);
}

#contactMessageInput {
    resize: none;
    width: 100%;
    padding: 0;
    border: none;
    border-radius: 0;
    margin-bottom: 32px;
    background: #00000000;
    color: var(--fore);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    outline: none;
}

#contactSend {
    overflow: hidden;
    display: block;
    position: absolute;
    left: 50%;
    bottom: -21px;
    transform: translate(-50%, 0%);
    width: 180px;
    height: fit-content;
    padding: 16px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

#contactSend.valid {
    background: var(--primary);
    color: var(--backA);
    cursor: pointer;
}

#contactSend.valid:hover {
    background: var(--fore);
    color: var(--backA);
}

#contactSend.invalid {
    background: var(--primary);
    color: var(--backA);
    opacity: 0.5;
    cursor: default;
}

/* CHANGELOG */

/* CHANGELOG ROWS */

#changelogFix {
    position: relative;
    width: 100%;
    height: 100%;
    line-height: calc(2.5em * var(--scale));
}

#changelogDrop {
    max-width: calc(1440px * var(--scale));
    height: max-content;
    padding: calc(32px * var(--scale));
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    background: var(--backB);
}

.changelogRow {}

.changelogRow h1 {
    color: var(--fore-80);
    font-size: calc(21px * var(--scale));
    font-weight: 400;
    line-height: calc(2em * var(--scale));
}

.changelogRow h2 {
    font-size: calc(21px * var(--scale));
    font-weight: 400;
    line-height: calc(2em * var(--scale));
}

.changelogRow p {
    font-size: calc(15px * var(--scale));
    font-weight: 300;
    line-height: calc(1.5em * var(--scale));
}

/* 404 NOT FOUND */

#notFoundFix {
    position: relative;
    width: 100%;
    height: 100%;
    line-height: calc(2.5em * var(--scale));
    text-align: center;
}

#notFoundDrop {
    max-width: calc(1440px * var(--scale));
    width: max-content;
    height: max-content;
    padding: calc(48px * var(--scale));
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    background: var(--fore-16);
}

#notFound404 {
    font-size: calc(50px * var(--scale));
    font-weight: 600;
    margin-bottom: calc(24px * var(--scale));
}

#notFoundP {
    font-size: calc(18px * var(--scale));
}

#notFoundP a {
    color: var(--primary);
}

#notFoundP a:hover, #notFoundP a:focus {
    color: var(--fore-80);
}