/* TABLE OF CONTENTS */

/* 1. Theme */

/* 2. Scrollbar */

/* 3. Rules */

/* 4. Globals */

/* 5. Navigation */

/* 6. Footer */

/* 7. Profile Page */

/* 8. Work Page */

/* 9. Contact Page */

/* 10. 404 Page */

/* THEME */

:root {
    --scale: 1;
    --lightDC: #dcdcff;
    --lightDC-80: #dcdcff80;
    --lightDC-40: #dcdcff40;
    --lightDC-16: #dcdcff16;
    --lightDC-80: #8484a0;
    --dark24: #24242d;
    --dark20: #202028;
    --dark18: #18181f;
    --green: #00ff80;
    --green-80: #00ff8080;
    --white: #fff;
    --black: #121216;
    --black-DC: #121216dc;
    --invisible: #00000000;
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 12px;
    background: var(--invisible);
}

::-webkit-scrollbar-track {
    background: var(--lightDC-16);
}

::-webkit-scrollbar-thumb {
    background: var(--lightDC-80);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--lightDC);
}

::-webkit-scrollbar-thumb:active {
    background: var(--green);
}

/* RULES */

html {
    scroll-behavior: smooth;
}

:focus {
    outline-color: var(--green);
}

.anim, div, img, a, h1, h2, h3, h4, h5, h6, p {
    transition: 0.15s ease-out;
}

.shade, img, h1, h2, h3, h4, h5, h6, p {
    filter: drop-shadow(2px 2px 4px #12121680);
}

a {
    color: var(--white);
}

/* GLOBALS */

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 1em;
    padding: 0;
    border: 0;
    margin: 0;
    color: var(--white);
    background-color: var(--dark24);
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#root {
    position: relative;
    min-height: 100vh;
}

#navPad {
    width: 100%;
    height: 72px;
}

#footPad {
    width: 100%;
    height: 472px;
}

.title {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    width: 100%;
    margin-top: calc(72px * var(--scale));
    margin-bottom: calc(24px * var(--scale));
}

#profile, #work, #contact, #changelog, #notFound {
    position: relative;
    width: 100%;
}

/* NAVIGATION */

nav {
    z-index: 11;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#navShow {
    position: relative;
    top: 0;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.25s ease-out;
}

#navHide {
    position: relative;
    top: -72px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s ease-out;
}

#navShape {
    width: 1024px;
    height: 0;
    border-bottom: 72px solid var(--dark18);
    border-left: 41px solid transparent;
    border-right: 41px solid transparent;
    transform: rotate(180deg);
    margin-left: auto;
    margin-right: auto;
}

#navL {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 64px;
}

#navR {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 22px;
}

#navLogo {
    float: left;
    height: 48px;
    margin-top: 12px;
    margin-left: 12px;
}

#navLogo:hover, #navLogo:focus {
    filter: grayscale();
}

#navName {
    float: left;
    width: 13.333em;
    margin-top: 20px;
    margin-left: 20px;
}

.navBtn, .navBtnActive {
    float: left;
    text-align: center;
    width: 200px;
    height: 48px;
    transform: skew(-30deg);
    padding-top: 14px;
    margin-top: 12px;
    margin-right: 12px;
    /* background: var(--lightGrayDC-16); */
    color: var(--lightDC-80);
    cursor: pointer;
}

.navBtn:hover, .navBtn:focus {
    background: var(--lightDC);
    color: var(--dark24);
}

.navBtn:active, .navBtnActive {
    background: var(--green);
    color: var(--dark24);
}

.navBtn h1, .navBtnActive h1 {
    font-size: 21px;
    font-weight: 600;
    line-height: 1em;
    transform: skew(30deg);
    filter: drop-shadow(0px 0px 0px #12121600);
}

#navIcons {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 12px 48px;
    margin-left: auto;
    margin-right: auto;
}

.navIcon {
    vertical-align: top;
    width: 33.333%;
    height: 48px;
    opacity: 0.5;
}

.navIcon:hover, .navIcon:focus {
    cursor: pointer;
    filter: grayscale();
    opacity: 1;
}

.navIconActive {
    opacity: 1;
}

/* FOOTER */

footer {
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer a:hover, footer a:focus {
    color: var(--green);
}

footer h1 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 36px;
}

footer h2, footer h3 {
    font-size: 21px;
    font-weight: 300;
    line-height: 2em;
}

#footerTop {
    text-align: center;
    width: 100%;
    background: var(--dark18);
}

#footerBottom {
    text-align: center;
    width: 100%;
    padding: 12px 0;
    background: var(--black);
}

#footerBottom a {
    font-weight: 300;
    color: var(--lightDC-80);
}

#footerBottom a:hover, #footerBottom a:focus {
    color: var(--green);
}

.footer3rd {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    padding: 36px 0;
}

#footerLogo {
    height: 256px;
    padding: 18px 0;
}

#footerLogo:hover, #footerLogo:focus {
    filter: grayscale();
}

#footerAuxIcons {
    display: none;
}

#footerAuxIcons a {
    display: inline-block;
    width: 54px;
    padding: 6px;
}

.footerAuxIcon:hover, .footerAuxIcon:focus {
    opacity: 0.5;
}

/* PROFILE */

/* PROFILE NAME */

#profileName {
    width: max-content;
    margin-top: calc(72px * var(--scale));
    margin-bottom: calc(24px * var(--scale));
    margin-left: auto;
    margin-right: auto;
}

#profileNameLogo {
    width: 480px;
}

/* PROFILE REEL */

#profileReel {
    display: inline-flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: var(--dark20);
    clip-path: inset(0px 0px 0px 0px);
}

#profileReelFix {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#profileReelMovie {
    width: 960px;
}

/* PROFILE PORTFOLIO */

#profilePort {
    position: relative;
    width: 100%;
    line-height: calc(2.5em * var(--scale));
}

#profilePortDrop {
    max-width: calc(1440px * var(--scale));
    width: fit-content;
    height: fit-content;
    padding: calc(12px * var(--scale));
    margin-left: auto;
    margin-right: auto;
    background: var(--dark20);
}

.profilePortBox {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: calc(330px * var(--scale));
    height: calc(330px * var(--scale));
    margin: calc(12px * var(--scale));
    background: var(--lightDC-16);
}

.profilePortBox img {
    max-height: calc(100px * var(--scale));
    margin-top: calc(40px * var(--scale));
    margin-bottom: calc(32px * var(--scale));
}

.profilePortBox h1 {
    font-size: calc(35px * var(--scale));
    font-weight: 600;
    margin-bottom: calc(24px * var(--scale));
}

.profilePortBox p {
    font-size: calc(21px * var(--scale));
    font-weight: 300;
    padding: 0 calc(28px * var(--scale));
}

.profilePortBox:hover, .profilePortBox:focus {
    cursor: pointer;
    transform: scale(1.075);
    background: var(--lightDC-40);
}

.profilePortBox:active {
    background: var(--green-80);
}

/* PROFILE CAPABILITIES */

/* PROFILE ABOUT */

#profileAbout {
    position: relative;
    width: 100%;
    line-height: calc(2.5em * var(--scale));
}

#profileAboutDrop {
    max-width: 1100px;
    width: fit-content;
    height: fit-content;
    padding: 24px;
    border-radius: 144px 0 0 0;
    margin-left: auto;
    margin-right: auto;
    background: var(--dark20);
}

#profileAbout img {
    float: left;
    max-height: calc(240px * var(--scale) * var(--scale));
    margin-bottom: calc(8px * var(--scale));
    margin-right: calc(48px * var(--scale));
    shape-outside: circle();
}

#profileAbout h1 {
    font-size: calc(28px * var(--scale));
    font-weight: 500;
}

#profileAbout p {
    font-size: calc(18px * var(--scale));
    margin-top: calc(28px * var(--scale));
}

/* WORK */

/* WORK REEL */

#workReel {
    display: inline-flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: var(--dark20);
    clip-path: inset(0px 0px 0px 0px);
}

#workReelFix {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#workReelMovie {
    width: 960px;
}

/* WORK PORTFOLIO */

#workPort {
    position: relative;
    width: 100%;
    height: 100%;
    line-height: calc(2.5em * var(--scale));
}

#workPortDrop {
    max-width: calc(1440px * var(--scale));
    width: fit-content;
    height: fit-content;
    padding: calc(12px * var(--scale));
    margin-left: auto;
    margin-right: auto;
    background: var(--dark20);
}

.workPortBox {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: calc(330px * var(--scale));
    height: calc(330px * var(--scale));
    margin: calc(12px * var(--scale));
    background-repeat: no-repeat;
    background-size: cover;
}

.workPortOverlay {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: var(--white);
    background-color: var(--black-DC);
    opacity: 0;
}

.workPortOverlay:hover, .workPortOverlay:focus {
    opacity: 1;
}

.workPortOverlay h1 {
    z-index: 2;
    font-size: calc(35px * var(--scale));
    font-weight: 600;
    line-height: 40px;
    margin: calc(32px * var(--scale)) 0;
    opacity: 1;
}

.workPortOverlay p {
    z-index: 2;
    font-size: calc(21px * var(--scale));
    font-weight: 300;
    padding: 0 calc(28px * var(--scale));
    opacity: 1;
}

.workPortBox:hover, .workPortBox:focus {
    cursor: pointer;
    transform: scale(1.075);
}

.workPortOverlay:active {
    background-color: var(--green-80);
}

/* CONTACT */

/* CONTACT FORM */

/* CHANGELOG */

/* CHANGELOG ROWS */

#changelogFix {
    position: relative;
    width: 100%;
    height: 100%;
    line-height: calc(2.5em * var(--scale));
}

#changelogDrop {
    max-width: calc(1440px * var(--scale));
    height: max-content;
    padding: calc(32px * var(--scale));
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    background: var(--dark20);
}

.changelogRow {
    
}
.changelogRow h1 {
    color: var(--lightDC-80);
    font-size: calc(21px * var(--scale));
    font-weight: 400;
    line-height: calc(2em * var(--scale));
}
.changelogRow h2 {
    font-size: calc(21px * var(--scale));
    font-weight: 400;
    line-height: calc(2em * var(--scale));
}
.changelogRow p {
    font-size: calc(15px * var(--scale));
    font-weight: 300;
    line-height: calc(1.5em * var(--scale));
}

/* 404 NOT FOUND */

#notFoundFix {
    position: relative;
    width: 100%;
    height: 100%;
    line-height: calc(2.5em * var(--scale));
    text-align: center;
}

#notFoundDrop {
    max-width: calc(1440px * var(--scale));
    width: max-content;
    height: max-content;
    padding: calc(48px * var(--scale));
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    background: var(--lightDC-16);
}

#notFound404 {
    font-size: calc(50px * var(--scale));
    font-weight: 600;
    margin-bottom: calc(24px * var(--scale));
}

#notFoundP {
    font-size: calc(18px * var(--scale));
}

#notFoundP a {
    color: var(--green);
}

#notFoundP a:hover, #notFoundP a:focus {
    color: var(--lightDC-80);
}