/* WORK */

#work {
    position: relative;
    width: 100%;
}

/* WORK REEL */

#workReel {
    display: inline-flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: #202028;
    clip-path: inset(0px 0px 0px 0px);
}

#workReelFix {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#workReelMovie {
    width: 960px;
}

/* WORK PORTFOLIO */

#workPort {
    position: relative;
    width: 100%;
    height: 100%;
    line-height: calc(2.5em * var(--scale));
}

#workPortDrop {
    max-width: calc(1440px * var(--scale));
    width: fit-content;
    height: fit-content;
    padding: calc(12px * var(--scale));
    margin-left: auto;
    margin-right: auto;
    background: #202028;
}

.workPortBox {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: calc(330px * var(--scale));
    height: calc(330px * var(--scale));
    margin: calc(12px * var(--scale));
    background-repeat: no-repeat;
    background-size: cover;
}

.workPortOverlay {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    background-color: #000000cc;
    opacity: 0;
}

.workPortOverlay:hover {
    opacity: 1;
}

.workPortOverlay h1 {
    z-index: 2;
    font-size: calc(35px * var(--scale));
    font-weight: 600;
    line-height: 40px;
    margin: calc(32px * var(--scale)) 0;
    opacity: 1;
}

.workPortOverlay p {
    z-index: 2;
    font-size: calc(21px * var(--scale));
    font-weight: 300;
    padding: 0 calc(28px * var(--scale));
    opacity: 1;
}

.workPortBox:hover {
    cursor: pointer;
    transform: scale(1.075);
}

.workPortOverlay:active {
    background-color: #00ff8060;
}