@media screen and (min-width: 1464px) { /* 1440px and above (in screen width). Typical for full HD monitors/TVs */
    
}
@media screen and (max-width: 1464px) { /* 1440px and below (in screen width). Typical for low HD monitors/TVs */
    .footer {
        width: 100%;
    }
    .profileWork {
        width: 732px;
        height: 732px;
    }
}
@media screen and (max-width: 1048px) { /* 1024px and below (in screen width). Typical for full HD tablets */
    .navFix, .navBar {
        width: 768px;
    }
    .navLogo {
        margin-left: 8px;
    }
    .navName {
        display: none;
    }
    .navBtn {
        width: 180px;
    }
    
    footer {
        height: 300px;
    }
    .footerLogo {
        width: 160px;
        margin-top: 18px;
    }
    .footerBox h1 {
        font-size: 21px;
    }
    .footerBox p {
        font-size: 16px;
    }
    .footerUnder {
        font-size: 16px;
    }

    .profileName {
        width: 400px;
        margin-top: 38px;
        margin-bottom: 28px;
    }
    .profileMovieBox {
        height: 55vw;
    }
    .profileMovieHold {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    #testMovie {
        /* position: fixed;
        top: 0;
        left: 0; */
        width: 100%;
    }

    .profileAbout {
        position: relative;
        line-height: 1em;
        width: 100%;
        padding: 16px;
        border-radius: 96px 0 0 0;
    }
    .profileAbout img {
        max-width: 160px;
        margin-bottom: 6px;
        margin-right: 36px;
    }
    .profileAbout h1 {
        font-size: 21px;
    }
    .profileAbout p {
        font-size: 14px;
        margin-bottom: 16px;
    }
}
@media screen and (max-width: 780px) { /* 1024px and below (in screen width). Typical for low HD tablets */
    .navFix, .navBar {
        width: 480px;
    }
    .navFL, .navFR {
        display: none;
    }
    .navIcons {
        display: initial;
    }

    .boxTitle {
        font-size: 28px;
    }
    
    .profileName {
        width: 320px;
        margin-top: 32px;
        margin-bottom: 24px;
    }
    .profileWork {
        width: 488px;
        height: 488px;
        padding: 8px;
    }
    .profileBoxWork {
        width: 220px;
        height: 220px;
        margin: 8px;
    }
    .profileBoxWork img {
        max-height: 72px;
        margin-top: 28px;
        margin-bottom: 18px;
    }
    .profileBoxWork h1 {
        font-size: 18px;
        padding: 0 16px;
    }
    .profileBoxWork p {
        line-height: 1.5em;
        font-size: 12px;
        padding: 0 21px;
        margin-top: 12px;
    }

    .workBoxWork {
        width: 220px;
        height: 220px;
        margin: 8px;
    }
}
@media screen and (max-width: 640px) { /* 640px and below (in screen width). Typical for phones */
    .navFix, .navBar {
        width: 320px;
    }
    .navIcons {
        margin-left: 34px;
    }
    .navIcons img {
        padding: 0px 18px 0px 18px;
    }

    footer {
        height: 400px;
    }
    .footerBox {
        width: 100%;
        padding: 0;
        margin: 0;
        margin-bottom: 24px;
    }
    .footerLogo {
        margin-top: 24px;
    }
    .footerBox h1 {
        margin-top: 18px;
        margin-bottom: 12px;
    }
    #siteLinks, #auxilaryLinks p {
        display: none;
    }
    #auxilaryLogos {
        display: initial;
    }

    .profileName {
        width: 280px;
        margin-top: 32px;
        margin-bottom: 24px;
    }
    .profileAbout {
        line-height: 0.9em;
        border-radius: 78px 0 0 0;
    }
    .profileAbout img {
        max-width: 120px;
        margin-bottom: 4px;
        margin-right: 24px;
    }
    .profileAbout h1 {
        font-size: 18px;
    }
    .profileAbout p {
        font-size: 12px;
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 500px) {
    .boxTitle {
        font-size: 18px;
    }
    .profileWork {
        width: 252px;
        height: 960px;
    }
}