* {
    box-sizing: border-box;
}
  
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 24px;
    color: #000;
    padding: 0;
    border: 0;
    margin: 0 auto;
}

.topNav {
    position: fixed relative;
    display: inline-block;
    padding: 0;
    border: 0;
    margin: 0 auto;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
}

.topNav h1 {
    float: left;
    background-color: rgb(21, 184, 148);
    color: #fff;
    text-align: center;
    padding: 32px 32px;
    border: 0;
    margin: 0;
    text-decoration: none;
    font-size: 36px;
}

.topNav a {
    float: right;
    color: #666;
    text-align: center;
    padding: 32px 32px;
    border: 0;
    margin: 0;
    text-decoration: none;
    font-size: 18px;
}

.topNav a:hover {
    background-color: rgb(21, 184, 148);
    color: #fff;
}

.topNav a.active {
    background-color: #fff;
    color: rgb(21, 184, 148);
}

.aboutText {
    font-size: 18px;
    color: #666;
    background: #fff;
    width: 960px;
    padding: 0;
    border: 0;
    margin: 0 auto;
}
.portfolioText {
    font-size: 18px;
    color: #666;
    background: #fff;
    padding: 24px;
    border: 0;
    margin: 0;
}
.contactText {
    font-size: 18px;
    color: #666;
    background: #fff;
    padding: 24px;
    border: 0;
    margin: 0;
}

#headBody {
    font-size: 36px;
    color: rgb(21, 184, 148);
    background: #fff;
    padding: 24px 0px;
    border: 0;
    margin: 0;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #fff;
    padding: 12px;
    border: 0;
    margin: 0;
    clear: both;
    background: #666;
}